@model CST326.Models.EmployeeModel
@{
    ViewBag.Title = "Employee Login";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<div>
    <div class="formcenter">
        <h2>Employee Login Portal</h2>
        @using (Html.BeginForm("AuthenticateEmployee", "Employee", FormMethod.Post))
        {

            <div class="form-group">
                @Html.Label("Employee ID", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                @Html.EditorFor(model => model.EmployeeId, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.Label("Password", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-md-offset-3 form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        }

    </div>
</div>

