@model CST326.Models.ProductModel
@{
    ViewBag.Title = "ViewProduct";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h2>ViewProduct</h2>

<p>@Model.ProductId</p>
<p>@Model.Name</p>
<p>@Model.Price</p>
<p>@Model.ProductImageLocation</p>